#stopwatch{
	margin-left:30px;
	width:600px;
}

.container{
	display: flex;
	justify-content: center;
}

.flex-container{
	margin-top:10px;
	display: flex;
    align-items: center;
    justify-content: center;
}